
@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>
<ul>
    <li><a href="@Url.Action("UserList","Home")">User List</a></li>
    <li><a href="@Url.Action("AddAdvertisement","Admin")">Add Advertisement</a></li>
</ul>


